@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces&display=swap");
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--White);
  font-family: "Barlow", sans-serif;
  /* max-width: 80%;
  margin: 0 auto; */
}

/* Estilos del Header */
header {
  height: 100vh;
  background-image: url(images/desktop/image-header.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2.5rem;
}

.header__conatiner,
.nav__conatiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  margin-left: 4rem;
  list-style: none;
  font-size: 1.5em;
}

.nav--select {
  text-align: center;
  background-color: var(--White);
  color: black;
  width: 9rem;
  height: 3.5rem;
  padding: 10px;
  border-radius: 100px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.2em;
}

.header--center {
  text-align: center;
  margin-top: 5rem;
}
.header__title {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 5em;
  font-weight: 900;
  font-family: "Fraunces";
}
.header__arrow {
  margin-top: 6.5rem;
}

/* seccion de frutas */

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "a b" "c d" "e f";
}
article div:nth-child(1) {
  grid-area: a;
}

article div:nth-child(2) {
  grid-area: b;
  background-image: url(images/desktop/image-transform.jpg);
}

article div:nth-child(3) {
  grid-area: c;
  background-image: url(images/desktop/image-stand-out.jpg);
}
article div:nth-child(4) {
  grid-area: e;
  background-image: url(images/desktop/image-graphic-design.jpg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
}
article div:nth-child(5) {
  background-image: url(images/desktop/image-photography.jpg);
  grid-area: f;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 40px;
}
.article__conatiner {
  height: 70vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: black;
  background-color: var(--White);
  padding: 15%;
}
.article_title {
  font-size: 5em;
  font-family: "Fraunces";
  font-weight: bolder;
}

.article__conatiner > p,
.article--width > p {
  font-size: 2em;
  line-height: 3rem;
}

.article__conatiner > span {
  font-family: "Fraunces";
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
}
.article--width {
  text-align: center;
  width: 90%;
}
.article--color-blue {
  color: var(--Dark-blue);
}
article--color-green {
  color: var(--Dark-desaturated-cyan);
}
.article--size {
  font-size: 30px;
  font-family: "Fraunces";
}
